#employeeTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.card-body {
  padding: 25px;
}

#return {
  color: rgb(95, 95, 95);
  margin-right: 3px;
}

#edit {
  color: #299be4;
  margin-right: 3px;
}
#delete {
  color: red;
}

#buttonGrp {
  text-align: right;
}

a.nav-link {
  color: #299be4;
}

#refresh {
  color: #28a745;
}
